body{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
    font-weight: 400;
    line-height: 1.5;
    color: #222326;
}
ul{
    list-style: none;
    margin-left: -38px;     
}
.logo{
    width: 132px;
    margin: 17px;
    padding-left: 86px;
}
.menu{
    display: flex;
    background-color: rgba(0,0,0,0.55);
    justify-content: space-between;
    position: fixed;
    width: 100%;

}

.menu li{
    display: inline;
    color: azure;
    padding-left: 80%;
    padding: 10px;
}


.banner{
    padding: 195px;
    background-image: linear-gradient(#f037a5 -60%, #fae62d 140%);
    color: white;
    text-align: center;
}


.titulo-principal{
    font-size: 80px;
}
button{
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    padding: 16px 48px 18px;
    color: #FFF;
    background-color: #1ED760;
    border-width: 0;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
}
button:hover{
    color: #FFF;
    background-color: #1ED760;
}
.lista1 :hover {
    color:#1ED760;
}
.lista1 {
    cursor: pointer;
    padding: 0.5%;
    margin-right: 10%;
}
.lista p{
    color: gray;
}
.lista{
    width: 15%;
    color: white;
}
.info{
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
.info li{
    font-size: 12px;
}
.info li:hover{
    color: #1DB954;
}
.texto:hover{
    color: #1DB954;
}
.copyright{
    text-align: right;
}
footer{
    background-color: black;
}
.texto{
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.container{
    display: flex;
    margin: 60px;
    margin-left: 156px;
    width: 81%;
    margin-top: 5%;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
.redes-sociais{
    margin-left:37%;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    box-sizing: border-box;
    float: left;
}
.imagem{
    width: 24px;
    height: 24px;
}
.bandeira{
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    font-size: 18px;
    height: 1em;
    width: 1.33333333em;
}

.icone{
    display: flex;
    background-color: rgba(77, 63, 63, 0.5);
    padding: 16px;
    border-radius: 50%;
    justify-content: space-between;
}




